Material: {{model.material}}

<div ng-repeat="component in components">
    <label>
        <span class="input-label">{{component.type}}</span>
        <reference-select
            model="component.longName"
            signature="component.signature"
            signatures="ingredientSignatures">
        </reference-select>
    </label>
</div>

<div ng-repeat="item in model.items">
    <expandable-section>
        <title>{{item.name}} - {{item.type}}</title>
        <content>
            <div ng-repeat="ingredient in item.ingredients">
                {{ingredient.name}} - {{ingredient.count}}
            </div>
        </content>
    </expandable-section>
</div>
