.modal-container .map-modal {
    max-width: 85%;
    margin: 75px auto;
}

.map-view {
    display: flex;
    .map-sidebar {
        width: 300px;
    }
    .map-main {
        flex: 1;
        position: relative;
    }
    #blacksmithMap {
        height: 750px;
    }
    .leaflet-container {
        background: $background;
        border: $medium-border solid;
    }
    .load-spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .hide-map {
        visibility: visible;
    }
}
