<style>
    ul.ingredients {
        list-style-type: none;
        padding-inline-start: unset;
        margin-block-start: unset;
        margin-block-end: unset;
    }
    .ingredient .remove-item {
        display: inline;
    }
    .edit-ingredient {
        padding-block-start: 5px;
    }
    .recipe-container section.content {
        margin-top: 0;
    }
</style>

Material: {{input.material}}

<section ng-if="!input.makeTemperRecipes">
    <div ng-repeat="component in viewModel.components">
        <label>
            <span class="input-label">{{component.type}}</span>
            <reference-select
                model="component.longName"
                signature="component.signature"
                signatures="ingredientSignatures">
            </reference-select>
        </label>
    </div>
</section>

<section ng-if="input.makeTemperRecipes">
    <label>
        <span class="input-label">Temper Ingredient</span>
        <reference-select
            model="viewModel.temperIngredient.longName"
            signature="viewModel.temperIngredient.signature"
            signatures="ingredientSignatures">
        </reference-select>
    </label>
</section>

<section>
    <div ng-repeat="recipe in viewModel.recipes">
        <expandable-section class="recipe-container">
            <title>{{recipe.itemName}} - {{recipe.itemType}}</title>
            <content>
                <label>
                    <input type="checkbox" ng-model="recipe.editManually"/>
                    <span class="input-label">Edit manually</span>
                </label>
                <button class="action-btn positive small" ng-show="recipe.editManually" ng-click="addIngredient(recipe)">Add Ingredient</button>
                <ul class="ingredients">
                    <li ng-repeat="ingredient in recipe.ingredients" class="ingredient">
                        <span ng-show="!recipe.editManually">
                            {{ingredient.name}} - {{ingredient.count}}
                        </span>
                        <div class="edit-ingredient" ng-show="recipe.editManually">
                            <reference-select
                                model="ingredient.longName"
                                signature="ingredient.signature"
                                signatures="ingredientSignatures">
                            </reference-select>
                            <number-input model="ingredient.count" type="integer"></number-input>
                            <div class="remove-item" ng-click="removeIngredient(recipe, ingredient)"></div>
                        </div>
                    </li>
                </ul>
            </content>
        </expandable-section>
    </div>
</section>
