<style>
    ul.ingredients {
        list-style-type: none;
        padding-inline-start: unset;
        margin-block-start: unset;
        margin-block-end: unset;
    }
    .ingredient .remove-item {
        display: inline;
    }
    .edit-ingredient {
        padding-block-start: 5px;
    }
    .recipe-container section.content {
        margin-top: 0;
    }
</style>

Material: {{input.material}}

<section ng-if="!input.makeTemperRecipes">
    <div ng-repeat="component in components">
        <label>
            <span class="input-label">{{component.type}}</span>
            <reference-select
                model="component.longName"
                signature="component.signature"
                signatures="ingredientSignatures">
            </reference-select>
        </label>
    </div>
</section>

<section ng-if="input.makeTemperRecipes">
    <label>
        <span class="input-label">Temper Ingredient</span>
        <reference-select
            model="temperIngredient.longName"
            signature="temperIngredient.signature"
            signatures="ingredientSignatures">
        </reference-select>
    </label>
</section>

<section>
    <div ng-repeat="item in items">
        <div ng-controller="editRecipeController">
            <expandable-section class="recipe-container">
                <title>{{itemName}} - {{item.type}}</title>
                <content>
                    <label>
                        <input type="checkbox" ng-model="editManually.value"/>
                        <span class="input-label">Edit manually</span>
                    </label>
                    <button class="action-btn positive small" ng-show="editManually.value" ng-click="addIngredient()">Add Ingredient</button>
                    <ul class="ingredients">
                        <li ng-if="!editManually.value" ng-repeat="ingredient in automaticIngredients" class="ingredient">
                            <div ng-controller="viewIngredientController">
                                {{ingredientName}} - {{ingredient.count}}
                            </div>
                        </li>
                        <li ng-if="editManually.value" ng-repeat="ingredient in recipe.customIngredients" class="ingredient">
                            <div class="edit-ingredient" ng-controller="editIngredientController">
                                <reference-select
                                    model="ingredientLongName.value"
                                    signature="ingredientSignature"
                                    signatures="ingredientSignatures">
                                </reference-select>
                                <number-input model="ingredient.count" type="integer"></number-input>
                                <div class="remove-item" ng-click="removeIngredient(ingredient)"></div>
                            </div>
                        </li>
                    </ul>
                </content>
            </expandable-section>
        </div>
    </div>
</section>
