<label>
    <span class="input-label">Weapon Name</span>
    <input type="text" ng-model="model.weapon['FULL - Name']" />
</label>

<edit-material model="model.material"></edit-material>

<label>
    <span class="input-label">Model</span>
    <edit-path model="model.weapon.Model['MODL - Model Filename']" type="mesh"></edit-path>
</label>

<edit-wnam model="model.weapon['WNAM - 1st Person Model Object']" editor-id-based-on="model.weapon['EDID - Editor ID']"></edit-wnam>

<label>
    <span class="input-label">Gold Value</span>
    <number-input model="model.weapon['DATA - Game Data'].Value" type="integer"></number-input>
</label>

<label>
    <span class="input-label">Weight</span>
    <number-input model="model.weapon['DATA - Game Data'].Weight" type="decimal"></number-input>
</label>

<label>
    <span class="input-label">Damage</span>
    <number-input model="model.weapon['DATA - Game Data'].Damage" type="integer"></number-input>
</label>

<expandable-section>
    <title>Advanced</title>
    <content>
        <edit-editor-id model="model.weapon['EDID - Editor ID']" based-on="model.weapon['FULL - Name']"></edit-editor-id>

        <label>
            <span class="input-label">Crit Damage</span>
            <number-input model="model.weapon['CRDT - Critical Data'].Damage" type="integer"></number-input>
        </label>
    </content>
</expandable-section>