<div class="modal-container" unfocus-modal>
    <div class="modal map-modal">
        <div class="close-modal" ng-click="cancel()"></div>

        <div class="modal-content map-view">
            <div class="map-sidebar">
                <h2>{{currentZoneName}}</h2>
                <button class="action-btn small" ng-click="onDebug()">Debug</button>
                <label>
                    <span class="input-label">Worldspace</span>
                    <select ng-model="selectedWorldspace" ng-change="onWorldspaceSelected()" ng-options="worldspace.name for worldspace in worldspaces">
                    </select>
                </label>
                <div ng-show="selectedContainerName">
                    <h4>{{selectedContainerName}} ({{selectedContainerEdid}})</h4>
                    <button class="action-btn small" ng-click="reloadContainerLoot()">Reload Loot</button>
                    <p ng-repeat="lootEntry in selectedContainerLoot">{{lootEntry.name}} x{{lootEntry.count}}</p>
                </div>
            </div>
            <div class="map-main">
                <div id="blacksmithMap" ng-class="{'hide-map': loadingMap}"></div>
                <img ng-src="{{::spinnerUrl}}" ng-show="loadingMap" class="load-spinner" width="200" height="200">
            </div>
        </div>

    </div>
</div>
