<style>
    #blacksmithMap {
        height: 750px;
    }
</style>

<div class="modal-container" unfocus-modal>
    <div class="modal huge-modal">
        <div class="close-modal" ng-click="cancel()"></div>

        <div class="modal-content">
            <div id="blacksmithMap"></div>
            <button ng-click="onDebug()">Debug</button>
        </div>

        <label>
            <span class="input-label">Worldspace</span>
            <select ng-model="selectedWorldspaceName" ng-change="onWorldspaceSelected()">
                <option ng-repeat="worldspace in worldspaces">{{::worldspace.name}}</option>
            </select>
        </label>        
    </div>
</div>
